services:
  mysql:
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=prac
    image: mysql:latest
    container_name: photogram-mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - photogram
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql", "-u", "root", "--password=1234"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  consul:
    image: consul:1.15
    container_name: consul
    command: consul agent -dev -client=0.0.0.0
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    networks:
      - photogram
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  config-server:
    depends_on:
      consul:
        condition: service_healthy
      mysql:
        condition: service_healthy
    networks:
      - photogram
    image: config-server:latest
    container_name: config-server
    ports:
      - "8888:8888"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  gateway:
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - photogram
    image: gateway:latest
    container_name: gateway
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
  
networks:
  photogram:
    driver: bridge

volumes:
  mysql_data: