server:
    port: 8888

spring:
    application:
        name: config-server
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/ahmola/config-repo
                    default-label: main
                    clone-on-start: true
                    search-paths:
                      - instagram-clone/**

management:
    endpoints:
        web:
            exposure:
                include: health, refresh, busrefresh, prometheus