server:
    port: 8888

spring:
    application:
        name: config-server
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/ahmola/config-repo
                    search-paths: instagram-clone/**
                    default-label: main
                    

management:
    endpoints:
        web:
            exposure:
                include: health, refresh, busrefresh, prometheus