name: Build Spring Template

on:
    workflow_call:
        inputs:
            service:
                required: true
                type: string
            path:
                required: true
                type: string
            port:
                required: false
                type: number
                default: 8080
    
jobs:
    build-and-deploy:
        runs-on: self-hosted

        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                java-version: '17'
                distribution: 'temurin'
                java-package: 'jdk'

            - name: Build Spring Boot Service
              run: ./gradlew clean build -x test 
              working-directory: ${{inputs.path}}
            
            - name: Build Docker Image
              run: docker build -t ${{inputs.service}}:latest .
              working-directory: ${{inputs.path}}