name: Build & Deploy for Dev (Local Action Runner)

on:
    push:
        branches: ["dev"]

jobs:
    build-app: 
        strategy:
            matrix:
                include:
                  - service: "config-server"
                    path: "./backend/edge/config"
                    port: 8888
                #   - service: "gateway"
                #     path: "./backend/edge/gateway"
                #     port: 8080
        uses: ./.github/workflows/build-spring-template.yml
        with:
            service: ${{matrix.service}}
            path: ${{matrix.path}}
            port: ${{matrix.port}}
    
    deploy:
        runs-on: self-hosted
        needs: build-app
        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Deploy with Docker Compose
              run: docker compose -p photogram-backend -f docker-compose-backend-dev.yml up -d --remove-orphans