name: Build & Deploy for Dev (Local Action Runner)

on:
    push:
        branches: ["dev"]

jobs:
    call-template:
        uses: .github/workflows/build-template.yml@dev
        with:
            service: "config-server"
            port: 8888
